 /* aquí empieza css de ABOUT */
.pQS {
    height: auto;
    padding: 5%;
    font-size: 20px;
    padding-top: 0;
    font-stretch: ultra-expanded;
    padding-bottom: 0;
    text-align: justify;
    padding-right: 0;
    
  }
  
  #tittleQS {
    animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode: forwards;
    
  }
  #tittleQS1{
    padding-top: 2%;
    width: auto;
  }
  @keyframes mover-izquierda-derecha {
    from {
      transform: translate(-6px);
    }
    to {
      transform: translate(25px);
    }
  }
  
  .enc2 {
    animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes mover-izquierda-derecha {
    from {
      transform: translate(-10px);
    }
    to {
      transform: translate(17px);
    }
  }
  
  #encabezado1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
  }
  
  #encabezado1 h1 {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: #000;
    display: flex;
    justify-content: end;
  }
  
  .encabezado1 h5 {
    color: rgb(244, 244, 255);
    text-shadow: 0px 0px 4px rgb(115, 8, 115);
  }
  
  #encabezado1 h5 {
    color: rgb(249, 244, 255);
    text-shadow: -2px 1px rgba(138, 21, 156, 0.432), -2px 2px hsl(272, 63%, 56%),
      -5px -1px 5px black;
  }
  
  .mv h5 {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    padding-left: 10px;
    margin-bottom: 0;
    padding-left: 5%;
    padding-bottom: 1%;
    font-size: 22px;
    justify-content: center;}

    .mv{
        margin: 4% 4% 4%;
        margin-left: 0;
    }
  
  .cont1 .subtittleQS {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 125%;
    font-style: italic;
  }

  .subtittleQS{
    padding: 6% 3% 0%;
  }
  
  .alinea {
    display: flex;
    align-items: center;
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur(5px);
  }
  
  .cardQS {
    color: rgb(0, 0, 0);
     padding-bottom: 0%;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 9px;
    border: 0;
    /* border-width: 1px; */
     border-radius: 10px;
     /* backdrop-filter: blur(30px); */
 box-shadow: 0 8px 32px 0 rgba(88, 88, 93, 0.221);
    margin: 3% 2% 5%;
    }

  /* .cardQS img {
    display: flex;
    border-radius: 3%;
    width: 200px;
    height: 200px;
    margin-left: 13px;
  } */
  .cardQS img {
    border-radius: 3%;
    max-width: 100%;
  }
  
  div {
    flex-basis: 100%;
    display: block;
  }
  @media (min-width: 768px) {
    barra {
      flex-wrap: nowrap;
    }
    div {
      flex-basis: 33%;
    }
    h1 {
      justify-content: start;
    }
  }

  @media (min-width: 992px) {
    barra {
      flex-wrap: nowrap;
    }
    div {
      flex-basis: 33%;
    }
    h1 {
      justify-content: start;
    }
    
  }
  
  
  #video {
    position: relative;
    padding-bottom: 70%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
  }

  #video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6%;
    border-radius: 5%;
    max-height: 90%;
    padding-top: 2%;
    padding-bottom: 3%;
  } 
  
  #tittleQS {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    /* display: inline-block;
    position: relative; */
    color: #000;
    font-size: 200%;
    padding: 7px;
    margin: 0;
    padding-left: 0;
  
    display: flex;
    justify-content: left;
    padding-left: 0;
  }
  /* termina el css de ABOUT. 
  
   ----------------------- */
  