  body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-fluid{
    padding: 0;
  }
  
  
  .navbar {
    background-color: #83259bc2; 
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
    
  .navbar .logo {
        font-size: 30px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.884);
        text-decoration: none;
        padding-left: 10px;
  }
  
  
  .navbar .search-bar {
    width: 60%;
    padding: 8px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.562);
    margin: 0 30px; /* Añadido margen para separar del logo y el botón */
  }
  
  .create-post{
    background-color: #72077B !important; 
    border-radius: 20px !important;
    padding: 7px 20px !important;
    color: #fcfafa !important;
    text-decoration: none;
    text-align: center;
    font-weight: bold; 
  }
  
  .create-post:hover {
    background-color: #9a0992 !important;
  }
  
  
  .sidebar .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar .menu ul li {
    margin: 10px 0;
  }
  
  .sidebar .menu ul li a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar .menu .active a {
    background-color: #d6c1e7;
    color: #333;
    font-weight: bold;
    border-left: 4px solid #6a1b9a;
  }

  .sidebar .menu ul li:not(.active) a:hover {
    background-color: #e0e0e0;
    color: #000;
  }
  
  .sidebar .menu ul li a i {
    margin-right: 10px;
  }
  
  @media (min-width:768px) {
    .sidebar {
      position: absolute;
      padding: 20px;
      background-color: #ffffff;
      height: 50vh;
      max-width: fit-content; 
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

  }

  .sidebar-der {

    margin: 3px;
    padding: 6px;
    /*border: 1px solid #72077B !important;*/
    background-color: white;
    color: black;
    box-shadow: 0 8px 10px 5px rgba(88, 88, 93, 0.221);
    min-height: 300px;
    border-radius: 15px;    
  }
  .tituloCard{
    display: flex;
    align-items: center;

  }

  .tituloCard i {
    margin-right: 10px;
  }
  
  .sidebar-der h5, .sidebar-der h6 {
    margin-bottom: 16px;
  }
  
  .sidebar-der h5 {
    border-bottom: 3px solid #84259B; /* Línea morada debajo del título */
    padding-bottom: 10px; /* Espacio entre el texto y la línea */
  }
  
  .sidebar-der h6 {
    border-bottom: 1px solid #84259B; /* Línea morada debajo de los párrafos */
    padding-bottom: 10px; /* Espacio entre el texto y la línea */
  }
  
  /* Último párrafo sin línea inferior */
  .sidebar-der h6:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  @media (max-width: 768px){
    .sidebar-display{
       display: none;
   }
   .card {
    margin-right: 20px;
   }
  }
  
  #enlace-info{
    color: #89399D;
  }
  
  #infotarj{
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 8px 32px 0 rgba(88, 88, 93, 0.221);
    cursor: default;
    transition: all 400ms ease;
  }
  
  #infotarj:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
    transform: translateY(-3%);
  } 
  
  .info-parrafo{
    padding-left: 6%;
    text-align: justify;
  }